<!DOCTYPE html>
<html dir="rtl" lang="fa">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>reports</title>
</head>
<style>
hr {
    display: block;
    margin: 2em auto;
    border-style: inset;
    border-width: 1px;
}
table, th, td {
  border: 1px solid white;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
</style>
{% block content %}
    {% for item in companies %}
    <div style="border-style: solid; border-color: #42006b">
        <table style="width:100%">
            <tbody>
                <tr>
                    <td style="width: 10%; text-align: right" rowspan="3">{{ forloop.counter }} - {{ item.badge }}</td>
                    <td style="width: 15%; text-align: right">{{ item.monthly_report_1_date }} | {{ item.monthly_report_comparison_1_4 }} %</td>
                    <td style="width: 5%" rowspan="3"></td>

                    {% if item.seasonal_report_spring_date == "" %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif item.seasonal_report_spring_date == null %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif item.seasonal_report_spring_date == 'None' %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% else %}
                        <td style="width: 15%" colspan="1" rowspan="2">{{ item.seasonal_report_spring_date }}</td>
                    {% endif %}

                    {% if item.seasonal_report_summer_date == "" %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif item.seasonal_report_summer_date == null %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif item.seasonal_report_summer_date == 'None' %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% else %}
                        <td style="width: 15%" colspan="1" rowspan="2">{{ item.seasonal_report_summer_date }}</td>
                    {% endif %}

                    {% if item.seasonal_report_fall_date == "" %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif item.seasonal_report_fall_date == null %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif item.seasonal_report_fall_date == 'None' %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% else %}
                        <td style="width: 15%" colspan="1" rowspan="2">{{ item.seasonal_report_fall_date }}</td>
                    {% endif %}

                    {% if item.seasonal_report_winter_date == "" %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif item.seasonal_report_winter_date == null %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif item.seasonal_report_winter_date == 'None' %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% else %}
                        <td style="width: 15%" colspan="1" rowspan="2">{{ item.seasonal_report_winter_date }}</td>
                    {% endif %}

                </tr>
                <tr>
                    <td style="width: 15%; text-align: right">{{ item.monthly_report_2_date }} | {{ item.monthly_report_comparison_2_5 }} %</td>
                </tr>
                <tr>
                    <td style="width: 15%; text-align: right">{{ item.monthly_report_3_date }} | {{ item.monthly_report_comparison_3_6 }} %</td>

                    {% if item.seasonal_report_spring_percentage == null %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif item.seasonal_report_spring_percentage == 'None' %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif item.seasonal_report_spring_percentage == "" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% else %}
                        {% if item.seasonal_report_spring_color == 'black' %}
                            <td style="width: 15%; color: #000000">{{ item.seasonal_report_spring_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_spring_color == 'green' %}
                            <td style="width: 15%; color: #2A8B2AFF">{{ item.seasonal_report_spring_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_spring_color == 'red' %}
                            <td style="width: 15%; color: #e02424">{{ item.seasonal_report_spring_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_spring_color == 'blue' %}
                            <td style="width: 15%; color: #0a58ca">{{ item.seasonal_report_spring_percentage|floatformat }}</td>
                        {% endif %}
                    {% endif %}

                    {% if item.seasonal_report_summer_percentage == null %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif item.seasonal_report_summer_percentage == "None" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif item.seasonal_report_summer_percentage == "" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% else %}
                        {% if item.seasonal_report_summer_color == 'black' %}
                            <td style="width: 15%; color: #000000">{{ item.seasonal_report_summer_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_summer_color == 'green' %}
                            <td style="width: 15%; color: #2A8B2AFF">{{ item.seasonal_report_summer_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_summer_color == 'red' %}
                            <td style="width: 15%; color: #e02424">{{ item.seasonal_report_summer_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_summer_color == 'blue' %}
                            <td style="width: 15%; color: #0a58ca">{{ item.seasonal_report_summer_percentage|floatformat }}</td>
                        {% endif %}
                    {% endif %}

                    {% if item.seasonal_report_fall_percentage == null %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif item.seasonal_report_fall_percentage == "None" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif item.seasonal_report_fall_percentage == "" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% else %}
                        {% if item.seasonal_report_fall_color == 'black' %}
                            <td style="width: 15%; color: #000000">{{ item.seasonal_report_fall_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_fall_color == 'green' %}
                            <td style="width: 15%; color: #2A8B2AFF">{{ item.seasonal_report_fall_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_fall_color == 'red' %}
                            <td style="width: 15%; color: #e02424">{{ item.seasonal_report_fall_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_fall_color == 'blue' %}
                            <td style="width: 15%; color: #0a58ca">{{ item.seasonal_report_fall_percentage|floatformat }}</td>
                        {% endif %}
                    {% endif %}

                    {% if item.seasonal_report_winter_percentage == null %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif item.seasonal_report_winter_percentage == "None" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif item.seasonal_report_winter_percentage == "" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% else %}
                        {% if item.seasonal_report_winter_color == 'black' %}
                            <td style="width: 15%; color: #000000">{{ item.seasonal_report_winter_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_winter_color == 'green' %}
                            <td style="width: 15%; color: #2A8B2AFF">{{ item.seasonal_report_winter_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_winter_color == 'red' %}
                            <td style="width: 15%; color: #e02424">{{ item.seasonal_report_winter_percentage|floatformat }}</td>
                        {% elif item.seasonal_report_winter_color == 'blue' %}
                            <td style="width: 15%; color: #0a58ca">{{ item.seasonal_report_winter_percentage|floatformat }}</td>
                        {% endif %}
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    <hr>
    {% endfor %}

    <br>
    <br>
    <br>

    {% for ex in extra %}
    <div style="border-style: solid; border-color: #42006b">
        <table style="width:100%">
            <tbody>
                <tr>
                    <td style="width: 10%; text-align: right" rowspan="3">{{ forloop.counter }} - {{ ex.badge }}</td>
                    <td style="width: 15%; text-align: right">{{ ex.monthly_report_1_date }} | {{ ex.monthly_report_comparison_1_4 }} %</td>
                    <td style="width: 5%" rowspan="3"></td>

                    {% if ex.seasonal_report_spring_date == "" %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif ex.seasonal_report_spring_date == null %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif ex.seasonal_report_spring_date == 'None' %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% else %}
                        <td style="width: 15%" colspan="1" rowspan="2">{{ ex.seasonal_report_spring_date }}</td>
                    {% endif %}

                    {% if ex.seasonal_report_summer_date == "" %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif ex.seasonal_report_summer_date == null %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif ex.seasonal_report_summer_date == 'None' %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% else %}
                        <td style="width: 15%" colspan="1" rowspan="2">{{ ex.seasonal_report_summer_date }}</td>
                    {% endif %}

                    {% if ex.seasonal_report_fall_date == "" %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif ex.seasonal_report_fall_date == null %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif ex.seasonal_report_fall_date == 'None' %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% else %}
                        <td style="width: 15%" colspan="1" rowspan="2">{{ ex.seasonal_report_fall_date }}</td>
                    {% endif %}

                    {% if ex.seasonal_report_winter_date == "" %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif ex.seasonal_report_winter_date == null %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% elif ex.seasonal_report_winter_date == 'None' %}
                        <td style="width: 15%" colspan="1" rowspan="2">not available</td>
                    {% else %}
                        <td style="width: 15%" colspan="1" rowspan="2">{{ ex.seasonal_report_winter_date }}</td>
                    {% endif %}

                </tr>
                <tr>
                    <td style="width: 15%; text-align: right">{{ ex.monthly_report_2_date }} | {{ ex.monthly_report_comparison_2_5 }} %</td>
                </tr>
                <tr>
                    <td style="width: 15%; text-align: right">{{ ex.monthly_report_3_date }} | {{ ex.monthly_report_comparison_3_6 }} %</td>

                    {% if ex.seasonal_report_spring_percentage == null %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif ex.seasonal_report_spring_percentage == "" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif ex.seasonal_report_spring_percentage == "None" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% else %}
                        {% if ex.seasonal_report_spring_color == 'black' %}
                            <td style="width: 15%; color: #000000">{{ ex.seasonal_report_spring_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_spring_color == 'green' %}
                            <td style="width: 15%; color: #2A8B2AFF">{{ ex.seasonal_report_spring_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_spring_color == 'red' %}
                            <td style="width: 15%; color: #e02424">{{ ex.seasonal_report_spring_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_spring_color == 'blue' %}
                            <td style="width: 15%; color: #0a58ca">{{ ex.seasonal_report_spring_percentage|floatformat }}</td>
                        {% endif %}
                    {% endif %}

                    {% if ex.seasonal_report_summer_percentage == null %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif ex.seasonal_report_summer_percentage == "None" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif ex.seasonal_report_summer_percentage == "" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% else %}
                        {% if ex.seasonal_report_summer_color == 'black' %}
                            <td style="width: 15%; color: #000000">{{ ex.seasonal_report_summer_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_summer_color == 'green' %}
                            <td style="width: 15%; color: #2A8B2AFF">{{ ex.seasonal_report_summer_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_summer_color == 'red' %}
                            <td style="width: 15%; color: #e02424">{{ ex.seasonal_report_summer_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_summer_color == 'blue' %}
                            <td style="width: 15%; color: #0a58ca">{{ ex.seasonal_report_summer_percentage|floatformat }}</td>
                        {% endif %}
                    {% endif %}

                    {% if ex.seasonal_report_fall_percentage == null %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif ex.seasonal_report_fall_percentage == "None" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif ex.seasonal_report_fall_percentage == "" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% else %}
                        {% if ex.seasonal_report_fall_color == 'black' %}
                            <td style="width: 15%; color: #000000">{{ ex.seasonal_report_fall_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_fall_color == 'green' %}
                            <td style="width: 15%; color: #2A8B2AFF">{{ ex.seasonal_report_fall_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_fall_color == 'red' %}
                            <td style="width: 15%; color: #e02424">{{ ex.seasonal_report_fall_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_fall_color == 'blue' %}
                            <td style="width: 15%; color: #0a58ca">{{ ex.seasonal_report_fall_percentage|floatformat }}</td>
                        {% endif %}
                    {% endif %}

                    {% if ex.seasonal_report_winter_percentage == null %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif ex.seasonal_report_winter_percentage == "None" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% elif ex.seasonal_report_winter_percentage == "" %}
                        <td style="width: 15%; color: #000000">not available</td>
                    {% else %}
                        {% if ex.seasonal_report_winter_color == 'black' %}
                            <td style="width: 15%; color: #000000">{{ ex.seasonal_report_winter_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_winter_color == 'green' %}
                            <td style="width: 15%; color: #2A8B2AFF">{{ ex.seasonal_report_winter_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_winter_color == 'red' %}
                            <td style="width: 15%; color: #e02424">{{ ex.seasonal_report_winter_percentage|floatformat }}</td>
                        {% elif ex.seasonal_report_winter_color == 'blue' %}
                            <td style="width: 15%; color: #0a58ca">{{ ex.seasonal_report_winter_percentage|floatformat }}</td>
                        {% endif %}
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    <hr>
    {% endfor %}
{% endblock %}

</html>
